* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}

body {
    background: #f8f8f8;
    color: #222;
    line-height: 1.6;
}

/* HEADER */
header {
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?auto=format') center/cover no-repeat;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

nav {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}

nav .logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* HERO */
.hero {
    z-index: 10;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: #fff;
}

.hero h2 {
    font-size: 40px;
    max-width: 550px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    opacity: .9;
}

/* PORTFÓLIO */ 
.portfolio {
    padding: 50px;
    text-align: center;
}

.portfolio h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;     /* largura máxima da galeria */
  margin: 0 auto;        /* centraliza a galeria na página */
}

.foto {
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  background: #ddd;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}




.info {
    margin-top: 15px;
    color: #444;
}


/* SOBRE */
.sobre {
    padding: 60px 50px;
}

.sobre h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

/* CONTATO */
.contato {
    padding: 60px 50px;
}

.contato h2 {
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    background: #111;
    color: #eee;
    text-align: center;
    padding: 15px 0;
}
