/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
    color: #333;
}

/* HERO */
.hero {
    background: #f7f7f7;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
    font-weight: 600;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
    color: #666;
}

/* SOBRE */
.sobre {
    padding: 60px 20px;
}

.sobre h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.sobre-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.foto-perfil {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}

/* TEXTO SOBRE */
.sobre-container p {
    max-width: 550px;
    line-height: 1.7;
    font-size: 17px;
    color: #444;
}

/* BOTÕES SOBRE */
.social-links {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-insta,
.btn-whats {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    border: 1px solid #333;
    color: #333;
    font-weight: 500;
    transition: 0.3s ease;
}

.btn-insta:hover,
.btn-whats:hover {
    background: #333;
    color: #fff;
}

/* PORTFÓLIO */
.portfolio {
    padding: 60px 20px;
}

.portfolio h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

.portfolio-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.portfolio-grid img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

/* CONTATO */
.contato {
    text-align: center;
    padding: 60px 20px;
}

.contato h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contato p {
    color: #444;
    font-size: 17px;
}
.contato a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}